/*
 * Overwrite Bootstrap Defaults
 */

.container {
	padding: 2px;
}

.navbar-default .navbar-nav > li > a {
	font-weight: bold;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > .active > a:hover {
	background-color: #f78b20;
	color: #fff;
}

.navbar-default .navbar-nav > .active > a {
	color: #fff;
	background-color: #3179c1;
}

.form-group {
	position: relative;
	padding: 8px;
	background-color: #fff;
	border-radius: 6px;
	border: 1px solid #d5d1c5;
	background: -moz-linear-gradient(top,  #ffffff 30%, #f9f9f9 90%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(30%,#ffffff), color-stop(90%,#f9f9f9));
	background: -webkit-linear-gradient(top,  #ffffff 30%,#f9f9f9 90%);
	background: -o-linear-gradient(top,  #ffffff 30%,#f9f9f9 90%);
	background: -ms-linear-gradient(top,  #ffffff 30%,#f9f9f9 90%);
	background: linear-gradient(to bottom,  #ffffff 30%,#f9f9f9 90%);
}

.form-control,
.input-group input.form-control {
	padding: 0px 0px 0px 2px;
	background-color: transparent;
	border: none;
	border-radius: 0px;
	-webkit-box-shadow: none;
	box-shadow: none;
	font-size: 18px;
}

select.form-control {
	padding: 0px;
}

form .btn-default {
	border-color: transparent;
}

form .bootstrap-select.btn-group .btn .filter-option {
	left: 2px;
}

form .bootstrap-select.btn-group{
	margin: 0px;
}

.input-group {
	border-radius: 6px;
	border: 1px solid #d5d1c5;
	margin: 0px 0px 15px 0px;
	background-color: #fff;
}

.form-group .input-group.input-btn {
	margin: 0px;
}

.input-btn {
	border: 1px solid #3179c1;
	background: #f8fbff;
	background: -moz-linear-gradient(top,  #f8fbff 0%, #e2e7ed 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f8fbff), color-stop(100%,#e2e7ed));
	background: -webkit-linear-gradient(top,  #f8fbff 0%,#e2e7ed 100%);
	background: -o-linear-gradient(top,  #f8fbff 0%,#e2e7ed 100%);
	background: -ms-linear-gradient(top,  #f8fbff 0%,#e2e7ed 100%);
	background: linear-gradient(to bottom,  #f8fbff 0%,#e2e7ed 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8fbff', endColorstr='#e2e7ed',GradientType=0 );
}

.input-group .btn-left-addon {
	padding: 16px;
}

.dropdown-group,
.dropdown-toggle,
.dropdown-menu,
.input-group {
	width: 100%;
	text-align: left;
}

.input-group-addon {
	font-size: 21px;
	padding: 6px 14px;
	border: none;
}

.input-group-addon.glyphicon {
	top: 0px;
	color: #fff;
	background-color: #3179c1;
}

.form-group-double {
	margin: 0px 0px 20px 0px;	
}

.form-group-top {
	margin: 0px;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
	border-bottom: none;
}

.form-group-middle .form-group-middle {
	border-radius: 0px;
}

.form-group-double .form-group:nth-child(1) {
	border-top-left-radius: 6px;
}

.form-group-double .form-group:nth-child(2) {
	border-top-right-radius: 6px;
	border-left: none;
}

.form-group-double .form-group.form-group-half {
	width: 50%;
	float: left;
	margin: 0px;
	border-radius: 0px;
}

textarea.form-control {
	background-color: #fff;
	border: 1px solid #d5d1c5;
	border-top: none;
	padding: 10px;
	height: 200px;
	border-bottom-right-radius: 6px;
	border-bottom-left-radius: 6px;
}


/*
 * New Styles
 */
body {
	padding-top: 70px;
	background-color: #fcf9f0;
}

#navbar-centered {
	margin: auto;
}

.navbar {
	border-top-right-radius: 0px;
	border-top-left-radius: 0px;
	-webkit-box-shadow: 0 2px 6px 0 rgba(0, 0, 0, .25);
	box-shadow: 0 2px 6px 0 rgba(0, 0, 0, .25);
}

.navbar-default {
	background-color: #fff;
}

.navbar-brand {
	height: 50px;
}

.navbar-brand img {
	height: 100%;
}

.panel-default {
	margin: 0px 0px 20px 0px;
	-webkit-box-shadow: 0 0 8px 0 rgba(103, 100, 91, .25);
	box-shadow: 0 0 8px 0 rgba(103, 100, 91, .25);
	border-radius: 4px;
	border-color: #3179c1;
}

.panel-default > .panel-heading {
	font-size: 24px;
	margin: 0px;
	padding: 8px;
	background-color: #f78b20;
	color: #fff;
	border-top-right-radius: 2px;
	border-top-left-radius: 2px;
	background-image: url('../img/heading_blue.png');
	background-repeat: repeat;
	border: none;
	-webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .2);
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .2);
	z-index: 1;
	position: relative;
}

.panel-heading .glyphicon {
	margin: 0px 6px 0px 0px;
	padding: 10px;
	color: #3179c1;
	text-align: center;
	border-radius: 20px;
	font-size: 20px;
	background-color: #fff;
}

.panel-heading .glyphicon:empty {
	width: auto;
}

.panel-heading .h1-text {
	position: relative;
	top: 4px;
}

.panel-body {
	background-color: #ece8e0;
	background-image: url('../img/ricepaper_v3.png');
	background-repeat: repeat;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
}

.panel-body > div:nth-last-child(1) {
	margin: 0px;
}

label {
	padding: 4px 0px 0px 2px;
	margin: 0px;
	display: block;
	color: #4476A8;
	font-size: 12px;
	border-top: 1px dotted #d5d1c5;
}

.cursor-pointer {
	cursor: pointer;
}

.btn-fill {
	width: 100%;
}

.btn-left-addon {
	color: #3179c1;
	font-size: 14px;
}

input.alert-input {
	background-color: #fff7f9;
	border-color: #ebccd1;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
	border-bottom-width: 0px;
}

.required-hint {
	color: #a94442;
	font-size: 11px;
}

.alert {
	display: none;
	padding: 10px;
	margin: 0px;
}

.alert-example {
	font-style: italic;
	font-size: 12px;
}

.primary {
	cursor: pointer;	
}

.combined-group-heading {
	width: 90px;
	top: 1px;
	bottom: 1px;
	position: absolute;
	padding: 0px 0px 0px 14px;
	background: #fcf9f0;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 6px;
	border-right: 1px solid #d5d1c5;
}

.combined-group-heading-text {
	font-size: 12px;
	bottom: 2px;
	position: relative;
}

.radio-text {
	opacity: .5;
}

.active-radio {
	opacity: 1;
}

.combined-group-heading input,
.combined-group-heading span {
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto;
	height: 18px;
}

.combined-group-heading span {
	right: 14px;
}

.combined-group {
	margin: 0px 0px 0px 90px;
	background-color: #fff;	
	border-top-right-radius: 6px;
	border-bottom-right-radius: 6px;
}

.combined-group .form-group {
	border: none;
	border-bottom: 1px solid #d5d1c5;
	border-radius: 0px;
	margin: 0px;
	background-color: transparent;
}

.combined-group .form-group:nth-child(1) {
	border-top-right-radius: 6px;
}

.combined-group .form-group:nth-last-child(1) {
	border: none;
	border-bottom-right-radius: 6px;
}


@media (min-width: 768px) {
	#navbar-centered {
		width: 750px;
	}
}

@media (min-width: 992px) {
	#navbar-centered {
		width: 970px;
	}

	.panel-default {
		margin: 0px 0px 80px 0px;
	}

	.panel-left {
		width: 50%;
	}

	.alert {
		position: absolute;
		width: 95%;
		height: 38px;
		top: 0px;
		left: 105%;
		margin: auto;
		bottom: 0px;
		border-radius: 19px;
		-webkit-box-shadow: 0 0 4px 0 rgba(255, 255, 255, .5);
		box-shadow: 0 0 4px 0 rgba(255, 255, 255, .5);
	}

	.alert-danger {
		border-color: #dbbcc1;		
	}

	.alert-success {
		width: 38px;
		border-color: #b6c9a6;
	}

	.alert .glyphicon,
	.alert-message {
		margin: auto;
		height: 14px;
		position: absolute;
		top: 0px;
		bottom: 0px;
	}

	.alert-message {
		bottom: 4px;
		left: 32px;
	}

	iframe {
		border: 1px solid #d5d1c5;
		margin: -1px;
		margin-bottom: -6px;
		width: 200%;
	}
}

@media (min-width: 1200px) {
	#navbar-centered {
		width: 1170px;
	}
}